<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Yahtzee Simulator</title>

        <link rel="stylesheet" href="/styles.main.css">
    </head>

    <body>
        <h1> Poker Yahtzee </h1>
        <h3>Try to make the best poker hand possible. You have three attempts. Best of luck!</h3>

        <%if(locals.error || !locals.drawncards){%>
            <p>Unable to load data from server.</p>
        <%}else{%>
            <form id="cardSubmit" method="post">
                <div class="cardhold">
                    <div class="card slot1">
                        <img src=<%=drawncards[0].img%> alt="<%=drawncards[0].value%> <%=drawncards[0].suit%>">
                    </div>

                    <input type="checkbox" id="cd1" name="card1" value="Hold" <%=hold%>>
                    <label for="cd1">Hold</label><br>
                </div>

                <div class="cardhold">
                    <div class="card slot2">
                        <img src=<%=drawncards[1].img%> alt="<%=drawncards[1].value%> <%=drawncards[1].suit%>">
                    </div>

                    <input type="checkbox" id="cd2" name="card2" value="Hold" <%=hold%>>
                    <label for="cd2">Hold</label><br>
                </div>

                <div class="cardhold">
                    <div class="card slot3">
                        <img src=<%=drawncards[2].img%> alt="<%=drawncards[2].value%> <%=drawncards[2].suit%>">
                    </div>
                    
                    <input type="checkbox" id="cd3" name="card3" value="Hold" <%=hold%>>
                    <label for="cd3">Hold</label><br>
                </div>

                <div class="cardhold">
                    <div class="card slot4">
                        <img src=<%=drawncards[3].img%> alt="<%=drawncards[3].value%> <%=drawncards[3].suit%>">
                    </div>

                    <input type="checkbox" id="cd4" name="card4" value="Hold" <%=hold%>>
                    <label for="cd4">Hold</label><br>
                </div>

                <div class="cardhold">
                    <div class="card slot5">
                        <img src=<%=drawncards[4].img%> alt="<%=drawncards[4].value%> <%=drawncards[4].suit%>">
                    </div>

                    <input type="checkbox" id="cd5" name="card5" value="Hold" <%=hold%>>
                    <label for="cd5">Hold</label><br>
                </div>

                <div>
                    <%if(endgame){%>
                        <h2>Game Over!!</h2>
                        <input type="submit" id="drawbtn" name="newgame" value="Play Again" formaction="/reshuffle-game">
                    <%}else{%>
                        <input type="submit" id="drawbtn" name="drawcards" value="Draw" formaction="/draw-cards">
                    <%}%>
                </div>
            </form>
        <%}%>

    </body>

    <footer>
        <p>Copyright @ <%= new Date().getFullYear() %></p>
    </footer>
</html>